@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-100;
    font-family: 'Inter', sans-serif;
  }
}

.recharts-cartesian-grid-horizontal line,
.recharts-cartesian-grid-vertical line {
  stroke: #334155;
}